@import "tailwindcss";

@theme {
  /* 라이트 모드 */
  --color-bg-light: #ffffff;
  --color-1st-light: #3b82f6;
  --color-1st-darker-light: #0056b3;
  --color-2nd-light: #8b5cf6;
  --color-surface-light: #f8fafc;
  --color-text-light: #1e293b;
  --color-text-2nd: #60625a;
  --color-text-on-primary: #ffffff;
  --color-bg-disabled: #f3f4f6;
  --color-text-disabled: #9ca3af;
  --color-error-light: #ff3b30;

  /* 다크 모드 */
  --color-bg-dark: #0f172a;
  --color-1st-dark: #60a5fa;
  --color-2nd-dark: #a78bfa;
  --color-border-dark: #1e293b;
  --color-text-dark: #f1f5f9;
  --color-error-dark: #ff453a;

  --text-sm: 12px;
  --text-base: 14px;
  --text-lg: 16px;
  --text-xl: 24px;
}

@utility global-wrapper {
  @apply bg-bg-light flex h-screen w-full items-center justify-center;
}

@utility wrapper {
  @apply bg-bg-light flex h-[calc(100vh-80px)] w-full justify-center;
}

@utility container {
  @apply flex w-full max-w-7xl flex-col gap-5 px-8 py-6;
}

@utility input-default {
  @apply border-1st-light focus:border-2nd-light bg-surface-light text-text-light placeholder:text-text-disabled h-12 w-full max-w-md rounded-md border-2 py-1 pl-2 text-sm outline-0;
}

@utility submit-default {
  @apply bg-1st-light hover:bg-1st-darker-light text-text-on-primary flex h-12 w-full max-w-md cursor-pointer items-center justify-center rounded-md px-2 py-1 text-base font-semibold;
}

@utility text-heading {
  @apply text-text-light text-xl font-semibold;
}

@utility text-regular {
  @apply text-text-light text-base font-semibold;
}

@utility text-caption {
  @apply text-text-2nd text-sm;
}
